[Unit]
Description=Gitea Hook Service
After=network.target

[Service]
ExecStart=/home/joseph/gitea_CICD/service/giteaService.sh
Restart=always
WorkingDirectory=/home/joseph/gitea_CICD/service
User=root
Group=root
Restart=on-failure
EnvironmentFile=/home/joseph/gitea_CICD/service/giteaService

[Install]
WantedBy=multi-user.target
